<!DOCTYPE html>
<html>
    <head>
        <title>My First EJS</title>
    </head>
    <body>
        <header>
            <h1>Binar Car Rental Uhuy</h1>
        </header>

        <section>
            <p>
                <ol>
                <% data.forEach(car => { %>
                    <li>
                       <%= car.name %> <%= car.year %>
                    </li>
               <% })
                %>
                </ol>
            </p>
        </section>
    </body>
</html>